header {
  padding-top: 6.6rem;
  .container-fav {
    @include flex(row, center, space-between);
  }
  @include responsive(730px) {
    padding-bottom: 3rem;
    ._logo {
      width: 100%;

      img {
        margin: 0 auto;
        height: 8rem;
      }
    }
  }
}
