@mixin flex($align, $justify, $direction) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin responsive($screenWIDTH) {
  @media (max-width: $screenWIDTH) {
    @content;
  }

  /**
  
  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
}
