h1 {
  color: $blue;
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 6rem;
}
h2 {
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 3.9rem;
  color: $blue;
}
h3 {
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 4.4rem;

  color: $blue;
}
h4 {
  color: red;
}
p {
  font-size: 2.4rem;
  line-height: 2.9rem;
}
