$blue: #3d677e;
$orange: #f9aa33;
$gradient: linear-gradient(151.53deg, #3d677e 5.07%, #225775 79.44%);
$opacity-black: rgba(0, 0, 0, 0.25);
$green: #00a510;
$gray: #646464;
$gray-2: #f7f7f7;
$white: #fff;
